0. Imports

In [1]:
import pandas as pd
import numpy as np

1. Load csv

In [2]:
# change to your file location
df = pd.read_csv('/content/drive/MyDrive/SÌŒkola/DM/spravanie_studentov_v_zavislosti_od_casu_III/MLM_STUD_stats.csv', ';', usecols=range(0,10))
df.head(10)

         Effect  Intercept   HODINA  HODINA_STV  ...      STR     STVR      PIA  SO
0     uvod_STUD    1.34835  0.34182    -0.01563  ...  0.11376 -0.49911  0.68682   0
1  studium_STUD   -2.84924  0.38448    -0.00867  ...  1.54827  1.22148  1.20767   0
2   oznamy_STUD    1.51459 -0.38342     0.01248  ...  1.59056  0.14253 -1.24192   0

[3 rows x 10 columns]

2. Create collection of weekdays

In [3]:
days = ['PO', 'UT', 'STR', 'STVR', 'PIA', 'SO']

3. Create logits estimate

In [4]:
df1 = pd.DataFrame()
index = 0

# Cycle through hours from 7 to 23
for x in range (7,23):
      new_row = {}
      i = 1

      # Cycle through weekdays
      for day in days:

        # Create logits estimates
        logit_uvod = df.at[index, 'Intercept'] + df.at[index, 'HODINA']*x+df.at[index, 'HODINA_STV']*(x*x)+df.at[index, day]
        logit_studium = df.at[index+1, 'Intercept'] + df.at[index+1, 'HODINA']*x+df.at[index+1, 'HODINA_STV']*(x*x)+df.at[index+1, day]
        logit_oznamy = df.at[index+2, 'Intercept'] + df.at[index+2, 'HODINA']*x+df.at[index+2, 'HODINA_STV']*(x*x)+df.at[index+2, day]
        reference_web = 1 / (1 + np.exp(logit_uvod) + np.exp(logit_studium) + np.exp(logit_oznamy))
        den = str(i) + '_' + day

        # Create new row and append it to dataframe
        new_row.update({den: reference_web})
        i = i + 1
      
      new_row.update({'0_hod': x})
      df1 = df1.append(new_row, sort=False, ignore_index=True)

df1.head()

   0_hod      1_PO      2_UT     3_STR    4_STVR     5_PIA      6_SO
0    7.0  0.067414  0.012098  0.036510  0.069208  0.024406  0.048251
1    8.0  0.062888  0.011045  0.033180  0.061620  0.021787  0.043468
2    9.0  0.059061  0.010188  0.030661  0.056041  0.020019  0.040243
3   10.0  0.056159  0.009532  0.028889  0.052088  0.018928  0.038315
4   11.0  0.054216  0.009060  0.027778  0.049448  0.018401  0.037520

4. Export to excel

In [5]:
df1.to_excel('STUD_reference_web_part.xlsx', index = False)