0. Imports

In [ ]:
import pandas as pd
import numpy as np

1. Load CSV

In [ ]:
# change to your file location
df = pd.read_csv('/content/drive/MyDrive/Škola/DM/evalvacia_modelu_II_b/MLM_vstup.csv', ';', usecols=range(0,13))

# fiter for students
df = df[(df['HODINA'] > 6) & (df['HODINA'] <= 22) & (df['ZAM'] == 1) & (df['KATEGORIA'].isin(['uvod', 'studium', 'o_fakulte', 'oznamy']))]

# empty dict to save created crosstables
dfDict = {}

2. Create crosstables

*Crosstable - PO*

In [ ]:
df1 = df[(df['PO'] == 1)]
crosstable = pd.crosstab(df1['HODINA'], df1['KATEGORIA'], values=df1['PO'], margins=True, 
                 dropna=False, aggfunc='count').reset_index().fillna(0)

# Add missing line
crosstable = crosstable.append({'HODINA': 18, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)
crosstable = crosstable.append({'HODINA': 19, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)
crosstable = crosstable.append({'HODINA': 20, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)

# Add PO crosstable into dict
dfDict['PO'] = crosstable

*Crosstable - UT*

In [ ]:
df1 = df[(df['UT'] == 1)]
crosstable = pd.crosstab(df1['HODINA'], df1['KATEGORIA'], values=df1['UT'], margins=True, 
                 dropna=False, aggfunc='count').reset_index().fillna(0)

# Add missing line   
crosstable = crosstable.append({'HODINA': 19, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)
crosstable = crosstable.append({'HODINA': 20, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)
crosstable = crosstable.append({'HODINA': 21, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)
crosstable = crosstable.append({'HODINA': 22, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)

# Add UT crosstable into dict
dfDict['UT'] = crosstable

*Crosstable - STR*

In [ ]:
df1 = df[(df['STR'] == 1)]
crosstable = pd.crosstab(df1['HODINA'], df1['KATEGORIA'], values=df1['STR'], margins=True, 
                 dropna=False, aggfunc='count').reset_index().fillna(0)

# Add missing line   
crosstable = crosstable.append({'HODINA': 17, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)
crosstable = crosstable.append({'HODINA': 20, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)
crosstable = crosstable.append({'HODINA': 21, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)
crosstable = crosstable.append({'HODINA': 22, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)

# Add STR crosstable into dict
dfDict['STR'] = crosstable

*Crosstable - STVR*

In [ ]:
df1 = df[(df['STVR'] == 1)]
crosstable = pd.crosstab(df1['HODINA'], df1['KATEGORIA'], values=df1['STVR'], margins=True, 
                 dropna=False, aggfunc='count').reset_index().fillna(0)

# Add missing lines
crosstable = crosstable.append({'HODINA': 18, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)
crosstable = crosstable.append({'HODINA': 19, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)
crosstable = crosstable.append({'HODINA': 20, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)
crosstable = crosstable.append({'HODINA': 21, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)
crosstable = crosstable.append({'HODINA': 22, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)

# Add STVR crosstable into dict
dfDict['STVR'] = crosstable

*Crosstable - PIA*

In [ ]:
df1 = df[(df['PIA'] == 1)]
crosstable = pd.crosstab(df1['HODINA'], df1['KATEGORIA'], values=df1['PIA'], margins=True, 
                 dropna=False, aggfunc='count').reset_index().fillna(0)

# Add missing lines
crosstable = crosstable.append({'HODINA': 16, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)
crosstable = crosstable.append({'HODINA': 17, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)
crosstable = crosstable.append({'HODINA': 18, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)
crosstable = crosstable.append({'HODINA': 19, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)
crosstable = crosstable.append({'HODINA': 20, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)
crosstable = crosstable.append({'HODINA': 21, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)
crosstable = crosstable.append({'HODINA': 22, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)

# Add PIA crosstable into dict
dfDict['PIA'] = crosstable

3. Create collection of weekdays

In [ ]:
days = ['PO', 'UT', 'STR', 'STVR', 'PIA']

4. Calculate differences

In [ ]:
df1 = pd.DataFrame()
df2 = pd.DataFrame()
df3 = pd.DataFrame()
df4 = pd.DataFrame()
index = 0

# Cycle through hours from 7 to 23
for x in range (7,23):
      new_row_uvod = {}
      new_row_studium = {}
      new_row_oznamy = {}
      new_row_fakulte = {}
      i = 1

      # Cycle through weekdays
      for day in days:

         # Get current crosstable
        crosstable = dfDict[day]
        crosstable = crosstable[(crosstable['HODINA'] == x)]
        crosstable_all = crosstable.iloc[0]['All']

        # Empirical relative abundance
        if(crosstable_all == 0):
          dij_uvod = 0
          dij_studium = 0
          dij_oznamy = 0
          dij_fakulte = 0
        else:
          dij_uvod = crosstable.iloc[0]['uvod'] / crosstable_all
          dij_studium = crosstable.iloc[0]['studium'] / crosstable_all
          dij_oznamy = crosstable.iloc[0]['oznamy'] / crosstable_all
          dij_fakulte = crosstable.iloc[0]['o_fakulte'] / crosstable_all

        den = str(i) + '_' + day

        new_row_uvod.update({den: dij_uvod})
        new_row_studium.update({den: dij_studium})
        new_row_oznamy.update({den: dij_oznamy})
        new_row_fakulte.update({den: dij_fakulte})
        i = i + 1
      
       # Append time and ext to rows
      new_row_uvod.update({'0_hod': x})
      new_row_studium.update({'0_hod': x})
      new_row_oznamy.update({'0_hod': x})
      new_row_fakulte.update({'0_hod': x})

      # Update dataframes
      df1 = df1.append(new_row_uvod, sort=False, ignore_index=True)
      df2 = df2.append(new_row_studium, sort=False, ignore_index=True)
      df3 = df3.append(new_row_oznamy, sort=False, ignore_index=True)
      df4 = df4.append(new_row_fakulte, sort=False, ignore_index=True)

df1.head()

    0_hod      1_PO      2_UT     3_STR    4_STVR     5_PIA
0     7.0  1.000000  0.800000  0.833333  0.500000  0.857143
1     8.0  0.622222  0.675676  0.348837  0.272727  0.875000
2     9.0  0.543478  0.197605  0.303571  0.225806  0.419355
3    10.0  0.629032  0.600000  0.408163  0.309524  0.387755
4    11.0  0.435897  0.294118  0.333333  0.350000  0.647059
5    12.0  0.632353  0.404255  0.388060  0.192982  0.727273
6    13.0  0.122222  0.653846  0.346939  0.434783  0.441860
7    14.0  0.366667  0.638889  0.400000  0.422222  0.687500
8    15.0  0.766667  0.157895  0.518519  0.333333  1.000000
9    16.0  0.571429  1.000000  0.125000  1.000000  0.000000
10   17.0  1.000000  0.470588  0.000000  1.000000  0.000000
11   18.0  0.000000  1.000000  0.600000  0.000000  0.000000
12   19.0  0.000000  0.000000  1.000000  0.000000  0.000000
13   20.0  0.000000  0.000000  0.000000  0.000000  0.000000
14   21.0  0.875000  0.000000  0.000000  0.000000  0.000000
15   22.0  1.000000  0.000000  0.000000  0.000000  0.000000

In [ ]:
# Creating Excel Writer Object from Pandas  
writer = pd.ExcelWriter('ZAM_evaluation_model_III.xlsx',engine='xlsxwriter')   
workbook=writer.book
worksheet=workbook.add_worksheet('ZAM')
writer.sheets['ZAM'] = worksheet

# Úvod
worksheet.write(0, 0, "Úvod")
df1.to_excel(writer, sheet_name='ZAM',startrow=1 , startcol=0, index=False)

# Śtúdium
worksheet.write(0, 7, "Štúdium")
df2.to_excel(writer, sheet_name='ZAM',startrow=1 , startcol=7, index=False)

# Oznamy
worksheet.write(0, 14, "Oznamy")
df3.to_excel(writer, sheet_name='ZAM',startrow=1 , startcol=14, index=False)

# O fakulte
worksheet.write(0, 21, "O fakulte")
df4.to_excel(writer, sheet_name='ZAM',startrow=1 , startcol=21, index=False)
writer.save()