0. Imports

In [ ]:
import pandas as pd
import numpy as np
from scipy import stats # statistika

1. Load CSV

In [ ]:
# change to your file location
df = pd.read_csv('/content/drive/MyDrive/Škola/DM/evalvacia_modelu_IV_b/MLM_vstup.csv', ';', usecols=range(0,13))
df_stats = pd.read_csv('/content/drive/MyDrive/Škola/DM/evalvacia_modelu_IV_b/MLM_ZAM_stats.csv', ';', usecols=range(0,10))

# fiter for students
df = df[(df['HODINA'] > 6) & (df['HODINA'] <= 22) & (df['ZAM'] == 1) & (df['KATEGORIA'].isin(['uvod', 'studium', 'o_fakulte', 'oznamy']))]

# empty dict to save created crosstables
dfDict = {}

2. Create crosstables

*Crosstable - PO*

In [ ]:
df1 = df[(df['PO'] == 1)]
crosstable = pd.crosstab(df1['HODINA'], df1['KATEGORIA'], values=df1['PO'], margins=True, 
                 dropna=False, aggfunc='count').reset_index().fillna(0)

# Add missing line
crosstable = crosstable.append({'HODINA': 18, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)
crosstable = crosstable.append({'HODINA': 19, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)
crosstable = crosstable.append({'HODINA': 20, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)

# Add PO crosstable into dict
dfDict['PO'] = crosstable

*Crosstable - UT*

In [ ]:
df1 = df[(df['UT'] == 1)]
crosstable = pd.crosstab(df1['HODINA'], df1['KATEGORIA'], values=df1['UT'], margins=True, 
                 dropna=False, aggfunc='count').reset_index().fillna(0)

# Add missing line   
crosstable = crosstable.append({'HODINA': 19, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)
crosstable = crosstable.append({'HODINA': 20, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)
crosstable = crosstable.append({'HODINA': 21, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)
crosstable = crosstable.append({'HODINA': 22, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)

# Add UT crosstable into dict
dfDict['UT'] = crosstable

*Crosstable - STR*

In [ ]:
df1 = df[(df['STR'] == 1)]
crosstable = pd.crosstab(df1['HODINA'], df1['KATEGORIA'], values=df1['STR'], margins=True, 
                 dropna=False, aggfunc='count').reset_index().fillna(0)

# Add missing line   
crosstable = crosstable.append({'HODINA': 17, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)
crosstable = crosstable.append({'HODINA': 20, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)
crosstable = crosstable.append({'HODINA': 21, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)
crosstable = crosstable.append({'HODINA': 22, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)

# Add STR crosstable into dict
dfDict['STR'] = crosstable

*Crosstable - STVR*

In [ ]:
df1 = df[(df['STVR'] == 1)]
crosstable = pd.crosstab(df1['HODINA'], df1['KATEGORIA'], values=df1['STVR'], margins=True, 
                 dropna=False, aggfunc='count').reset_index().fillna(0)

# Add missing lines
crosstable = crosstable.append({'HODINA': 18, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)
crosstable = crosstable.append({'HODINA': 19, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)
crosstable = crosstable.append({'HODINA': 20, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)
crosstable = crosstable.append({'HODINA': 21, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)
crosstable = crosstable.append({'HODINA': 22, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)

# Add STVR crosstable into dict
dfDict['STVR'] = crosstable

*Crosstable - PIA*

In [ ]:
df1 = df[(df['PIA'] == 1)]
crosstable = pd.crosstab(df1['HODINA'], df1['KATEGORIA'], values=df1['PIA'], margins=True, 
                 dropna=False, aggfunc='count').reset_index().fillna(0)

# Add missing lines
crosstable = crosstable.append({'HODINA': 16, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)
crosstable = crosstable.append({'HODINA': 17, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)
crosstable = crosstable.append({'HODINA': 18, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)
crosstable = crosstable.append({'HODINA': 19, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)
crosstable = crosstable.append({'HODINA': 20, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)
crosstable = crosstable.append({'HODINA': 21, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)
crosstable = crosstable.append({'HODINA': 22, 'o_fakulte': 0, 'oznamy': 0, 'studium': 0, 'uvod': 0, 'All': 0}, ignore_index=True)

# Add PIA crosstable into dict
dfDict['PIA'] = crosstable

3. Create collection of weekdays

In [ ]:
days = ['PO', 'UT', 'STR', 'STVR', 'PIA']

4. Calculate differences

In [ ]:
# Dataframes for empirical relative abundance
df1 = pd.DataFrame()
df2 = pd.DataFrame()
df3 = pd.DataFrame()
df4 = pd.DataFrame()

# Dataframes estimates for web parts
df1_estimate = pd.DataFrame()
df2_estimate = pd.DataFrame()
df3_estimate = pd.DataFrame()
df4_estimate = pd.DataFrame()
index = 0

# Cycle through hours from 7 to 23
for x in range (7,23):

      # Rows for empirical relative abundance
      new_row_uvod = {}
      new_row_studium = {}
      new_row_oznamy = {}
      new_row_fakulte = {}

      # Rows for estimations
      new_row_uvod_estimate = {}
      new_row_studium_estimate = {}
      new_row_oznamy_estimate = {}
      new_row_fakulte_estimate = {}
      i = 1

      # Cycle through weekdays
      for day in days:

        # Create logits estimates
        logit_uvod = df_stats.at[index, 'Intercept'] + df_stats.at[index, 'HODINA']*x+df_stats.at[index, 'HODINA_STV']*(x*x)+df_stats.at[index, day]
        logit_studium = df_stats.at[index+1, 'Intercept'] + df_stats.at[index+1, 'HODINA']*x+df_stats.at[index+1, 'HODINA_STV']*(x*x)+df_stats.at[index+1, day]
        logit_oznamy = df_stats.at[index+2, 'Intercept'] + df_stats.at[index+2, 'HODINA']*x+df_stats.at[index+2, 'HODINA_STV']*(x*x)+df_stats.at[index+2, day]
        
        reference_web = 1 / (1 + np.exp(logit_uvod) + np.exp(logit_studium) + np.exp(logit_oznamy))
        
        # Create estimates for web parts
        estimate_uvod = np.exp(logit_uvod) * reference_web
        estimate_studium = np.exp(logit_studium) * reference_web
        estimate_oznamy = np.exp(logit_oznamy) * reference_web
        estimate_fakulte = np.exp(reference_web) * reference_web

        # Get current crosstable
        crosstable = dfDict[day]
        crosstable = crosstable[(crosstable['HODINA'] == x)]
        crosstable_all = crosstable.iloc[0]['All']

        # Empirical relative abundance
        if(crosstable_all == 0):
          dij_uvod = 0
          dij_studium = 0
          dij_oznamy = 0
          dij_fakulte = 0
        else:
          dij_uvod = crosstable.iloc[0]['uvod'] / crosstable_all
          dij_studium = crosstable.iloc[0]['studium'] / crosstable_all
          dij_oznamy = crosstable.iloc[0]['oznamy'] / crosstable_all
          dij_fakulte = crosstable.iloc[0]['o_fakulte'] / crosstable_all

        den = str(i) + '_' + day

        # Add data to new rows
        # Empirical
        new_row_uvod.update({den: dij_uvod})
        new_row_studium.update({den: dij_studium})
        new_row_oznamy.update({den: dij_oznamy})
        new_row_fakulte.update({den: dij_fakulte})

        # Estimations
        new_row_uvod_estimate.update({den: estimate_uvod})
        new_row_studium_estimate.update({den: estimate_studium})
        new_row_oznamy_estimate.update({den: estimate_oznamy})
        new_row_fakulte_estimate.update({den: estimate_fakulte})
        i = i + 1
      
       # Append time and ext to rows
      new_row_uvod.update({'0_hod': x})
      new_row_studium.update({'0_hod': x})
      new_row_oznamy.update({'0_hod': x})
      new_row_fakulte.update({'0_hod': x})
      new_row_uvod_estimate.update({'0_hod': x})
      new_row_studium_estimate.update({'0_hod': x})
      new_row_oznamy_estimate.update({'0_hod': x})
      new_row_fakulte_estimate.update({'0_hod': x})

      # Update dataframes
      df1 = df1.append(new_row_uvod, sort=False, ignore_index=True)
      df2 = df2.append(new_row_studium, sort=False, ignore_index=True)
      df3 = df3.append(new_row_oznamy, sort=False, ignore_index=True)
      df4 = df4.append(new_row_fakulte, sort=False, ignore_index=True)

      df1_estimate = df1_estimate.append(new_row_uvod_estimate, sort=False, ignore_index=True)
      df2_estimate = df2_estimate.append(new_row_studium_estimate, sort=False, ignore_index=True)
      df3_estimate = df3_estimate.append(new_row_oznamy_estimate, sort=False, ignore_index=True)
      df4_estimate = df4_estimate.append(new_row_fakulte_estimate, sort=False, ignore_index=True)

df1.head()

   0_hod      1_PO      2_UT     3_STR    4_STVR     5_PIA
0    7.0  1.000000  0.800000  0.833333  0.500000  0.857143
1    8.0  0.622222  0.675676  0.348837  0.272727  0.875000
2    9.0  0.543478  0.197605  0.303571  0.225806  0.419355
3   10.0  0.629032  0.600000  0.408163  0.309524  0.387755
4   11.0  0.435897  0.294118  0.333333  0.350000  0.647059

5. Create collection of weekdays with numbers

In [ ]:
days = ['1_PO', '2_UT', '3_STR', '4_STVR', '5_PIA']

6. Print WilcoxonResult for: *Uvod*

In [ ]:
for day in days:
  print(stats.wilcoxon(df1[day], df1_estimate[day]))

WilcoxonResult(statistic=53.0, pvalue=0.43796657516602056)
WilcoxonResult(statistic=62.0, pvalue=0.7563688628810696)
WilcoxonResult(statistic=19.0, pvalue=0.011285575373529618)
WilcoxonResult(statistic=30.0, pvalue=0.049421966979675956)
WilcoxonResult(statistic=25.0, pvalue=0.026183648097068732)

7. Print WilcoxonResult for: *Studium*

In [ ]:
for day in days:
  print(stats.wilcoxon(df2[day], df2_estimate[day]))

WilcoxonResult(statistic=24.0, pvalue=0.022894784183124583)
WilcoxonResult(statistic=16.0, pvalue=0.007169734292803208)
WilcoxonResult(statistic=23.0, pvalue=0.019970875425605675)
WilcoxonResult(statistic=11.0, pvalue=0.0032045855456292547)
WilcoxonResult(statistic=11.0, pvalue=0.0032045855456292547)

8. Print WilcoxonResult for: *Oznamy*

In [ ]:
for day in days:
  print(stats.wilcoxon(df3[day], df3_estimate[day]))

WilcoxonResult(statistic=16.0, pvalue=0.007169734292803208)
WilcoxonResult(statistic=14.0, pvalue=0.005233909190788298)
WilcoxonResult(statistic=33.0, pvalue=0.07032573521121915)
WilcoxonResult(statistic=44.0, pvalue=0.21460188629190957)
WilcoxonResult(statistic=25.0, pvalue=0.026183648097068732)

9. Print WilcoxonResult for: *Fakulta*

In [ ]:
for day in days:
  print(stats.wilcoxon(df4[day], df4_estimate[day]))

WilcoxonResult(statistic=34.0, pvalue=0.07873081119613402)
WilcoxonResult(statistic=56.0, pvalue=0.5349252131384397)
WilcoxonResult(statistic=16.0, pvalue=0.007169734292803208)
WilcoxonResult(statistic=13.0, pvalue=0.004455352355471741)
WilcoxonResult(statistic=5.0, pvalue=0.0011233790034369743)