0. Imports

In [8]:
import pandas as pd
import numpy as np

1. Load csv

In [9]:
# change to your file location
df = pd.read_csv('/content/drive/MyDrive/SÌŒkola/DM/spravanie_zamestnancov_v_zavislosti_od_casu_III/MLM_ZAM_stats.csv', ';', usecols=range(0,10))
df.head(10)

        Effect  Intercept   HODINA  HODINA_STV  ...      STR     STVR  PIA  SO
0     uvod_ZAM    5.58384 -0.68231     0.02633  ... -0.76405 -0.98585    0   0
1  studium_ZAM    0.92959  0.06409    -0.00612  ... -0.17730 -0.00245    0   0
2   oznamy_ZAM   -3.91218  0.40371    -0.02517  ...  0.57197 -0.49513    0   0

[3 rows x 10 columns]

2. Create collection of weekdays

In [10]:
days = ['PO', 'UT', 'STR', 'STVR', 'PIA']

3. Create logits estimate

In [11]:
df1 = pd.DataFrame()
index = 0

# Cycle through hours from 7 to 23
for x in range (7,23):
      new_row = {}
      i = 1

      # Cycle through weekdays
      for day in days:

        # Create logits estimates
        logit_uvod = df.at[index, 'Intercept'] + df.at[index, 'HODINA']*x+df.at[index, 'HODINA_STV']*(x*x)+df.at[index, day]
        logit_studium = df.at[index+1, 'Intercept'] + df.at[index+1, 'HODINA']*x+df.at[index+1, 'HODINA_STV']*(x*x)+df.at[index+1, day]
        logit_oznamy = df.at[index+2, 'Intercept'] + df.at[index+2, 'HODINA']*x+df.at[index+2, 'HODINA_STV']*(x*x)+df.at[index+2, day]
        reference_web = 1 / (np.exp(logit_uvod) + np.exp(logit_studium) + np.exp(logit_oznamy))
        den = str(i) + '_' + day

        # Create new row and append it to dataframe
        new_row.update({den: reference_web})
        i = i + 1
      
      new_row.update({'0_hod': x})
      df1 = df1.append(new_row, sort=False, ignore_index=True)

df1.head()

   0_hod      1_PO      2_UT     3_STR    4_STVR     5_PIA
0    7.0  0.067239  0.059428  0.155478  0.165757  0.089392
1    8.0  0.080695  0.068305  0.184463  0.192493  0.110208
2    9.0  0.093435  0.076644  0.211532  0.217172  0.130200
3   10.0  0.105469  0.084893  0.236793  0.240341  0.148609
4   11.0  0.116824  0.093397  0.260416  0.262508  0.164838

4. Export to excel

In [12]:
df1.to_excel('ZAM_reference_web_part.xlsx', index = False)